<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project</display-name>
  
  
  <context-param>
  	<param-name>TOMCAT_JNDI_ROOT</param-name>
  	<param-value>java:comp/env</param-value>		
  </context-param>
 
 
 
 <!-- 회원 관련 서블릿 등록 -->
  
		  <servlet>
		  	<servlet-name>LOGIN</servlet-name>
		  	<servlet-class>member.controller.LoginController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  	<servlet-name>LOGIN</servlet-name>
		  	<url-pattern>/MAIN/Login.do</url-pattern>
		  </servlet-mapping>
		 
		  <servlet>
		  	<servlet-name>SIMPLEMEMBERLIST</servlet-name>
		  	<servlet-class>member.controller.SimpleMemberListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  	<servlet-name>SIMPLEMEMBERLIST</servlet-name>
		  	<url-pattern>/Member/SimpleMemberList.do</url-pattern>
		  </servlet-mapping>
		
		  <servlet>
		  		<servlet-name>SIMPLEMEMBERDETAIL</servlet-name>
		  		<servlet-class>member.controller.SimpleMemberDetailController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>SIMPLEMEMBERDETAIL</servlet-name>
		  		<url-pattern>/Member/SimpleMemberDetail.do</url-pattern>
		  </servlet-mapping>
			
		  <servlet>
		  		<servlet-name>MEMBERLIST</servlet-name>
		  		<servlet-class>member.controller.MemberListController</servlet-class>
		  </servlet>
		
		  <servlet-mapping>
		  		<servlet-name>MEMBERLIST</servlet-name>
		  		<url-pattern>/Member/MemberList.do</url-pattern>
		  </servlet-mapping>
		
		
		  <servlet>
		  		<servlet-name>LOGOUT</servlet-name>
		  		<servlet-class>member.controller.LogoutController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>LOGOUT</servlet-name>
		  		<url-pattern>/Member/Logout.do</url-pattern>
		  </servlet-mapping>
		
		  <servlet>
		  		<servlet-name>MEMBERDETAIL</servlet-name>
		  		<servlet-class>member.controller.MemberDetailController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>MEMBERDETAIL</servlet-name>
		  		<url-pattern>/Member/MemberDetail.do</url-pattern>
		  </servlet-mapping>
		  
		    <servlet>
		  		<servlet-name>SMEMBERMODIFY</servlet-name>
		  		<servlet-class>member.controller.SmemModifyController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>SMEMBERMODIFY</servlet-name>
		  		<url-pattern>/Member/SmemModify.do</url-pattern>
		  </servlet-mapping>
		      <servlet>
		  		<servlet-name>MEMBERMODIFY</servlet-name>
		  		<servlet-class>member.controller.MemModifyController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>MEMBERMODIFY</servlet-name>
		  		<url-pattern>/Member/MemModify.do</url-pattern>
		  </servlet-mapping>
			<servlet>
		  	<servlet-name>FINDID</servlet-name>
		  	<servlet-class>member.controller.FindMemberController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  	<servlet-name>FINDID</servlet-name>
		  	<url-pattern>/Member/FindId.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>IDSEARCH</servlet-name>
		  		<servlet-class>member.controller.FindMemberListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>IDSEARCH</servlet-name>
		  		<url-pattern>/Member/IdSearch.do</url-pattern>
		  </servlet-mapping>






 <!-- 게시판 관련 서블릿 등록 -->
		  <servlet>
		  		<servlet-name>NOTICELIST</servlet-name>
		  		<servlet-class>bbs.controller.NoticeListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>NOTICELIST</servlet-name>
		  		<url-pattern>/Bbs/Notice.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>INSERTNOTICE</servlet-name>
		  		<servlet-class>bbs.controller.NoticeInsertController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>INSERTNOTICE</servlet-name>
		  		<url-pattern>/Bbs/InsertNotice.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>DETAILNOTICE</servlet-name>
		  		<servlet-class>bbs.controller.NoticeDetailController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>DETAILNOTICE</servlet-name>
		  		<url-pattern>/Bbs/NoticeDetail.do</url-pattern>
		  </servlet-mapping>
		  <!-- NoticeDelete -->
		  <servlet>
		  		<servlet-name>DELETENOICE</servlet-name>
		  		<servlet-class>bbs.controller.NoticeDeleteController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>DELETENOICE</servlet-name>
		  		<url-pattern>/Bbs/NoticeDelete.do</url-pattern>
		  </servlet-mapping>
		  <!-- NoticeEdit -->
		   <servlet>
		  		<servlet-name>EDITNOICE</servlet-name>
		  		<servlet-class>bbs.controller.NoticeEditController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>EDITNOICE</servlet-name>
		  		<url-pattern>/Bbs/NoticeEdit.do</url-pattern>
		  </servlet-mapping>
			

<!-- 포인트 관련 서블릿 등록 -->
		  <servlet>
		  		<servlet-name>INPUTPOINT</servlet-name>
		  		<servlet-class>member.controller.InputPointController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>INPUTPOINT</servlet-name>
		  		<url-pattern>/Member/InputPoint.do</url-pattern>
		  </servlet-mapping>

		  <servlet>
		  		<servlet-name>MEMBERSHIPLIST</servlet-name>
		  		<servlet-class>member.controller.MembershipListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>MEMBERSHIPLIST</servlet-name>
		  		<url-pattern>/Member/MemberShipList.do</url-pattern>
		  </servlet-mapping>



<!-- 카드 관련 서블릿 등록 -->
		  <servlet>
		  		<servlet-name>CARDLIST</servlet-name>
		  		<servlet-class>member.controller.CardListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>CARDLIST</servlet-name>
		  		<url-pattern>/Member/CardList.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>CARDINSERT</servlet-name>
		  		<servlet-class>member.controller.CardInsertController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>CARDINSERT</servlet-name>
		  		<url-pattern>/Member/CardInsert.do</url-pattern>
		  </servlet-mapping>

		  

<!-- 쿠폰 관련 서블릿 등록 -->
		  <servlet>
		  		<servlet-name>INSERTCOUPON</servlet-name>
		  		<servlet-class>coupon.controller.InsertCouponController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>INSERTCOUPON</servlet-name>
		  		<url-pattern>/Coupon/InsertCoupon.do</url-pattern>
		  </servlet-mapping>

		  <servlet>
		  		<servlet-name>COUPONLIST</servlet-name>
		  		<servlet-class>coupon.controller.CouponListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>COUPONLIST</servlet-name>
		  		<url-pattern>/Coupon/CouponList.do</url-pattern>
		  </servlet-mapping>

		  <servlet>
		  		<servlet-name>COUPONDETAIL</servlet-name>
		  		<servlet-class>coupon.controller.CouponDetailController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>COUPONDETAIL</servlet-name>
		  		<url-pattern>/Coupon/CouponDetail.do</url-pattern>
		  </servlet-mapping>

		  <servlet>
		  		<servlet-name>EDITCOUPON</servlet-name>
		  		<servlet-class>coupon.controller.CouponEditController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>EDITCOUPON</servlet-name>
		  		<url-pattern>/Coupon/EditCoupon.do</url-pattern>
		  </servlet-mapping>

		   <servlet>
		  		<servlet-name>COUPONISSUE</servlet-name>
		  		<servlet-class>coupon.controller.CouponCreateController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>COUPONISSUE</servlet-name>
		  		<url-pattern>/Coupon/CouponCreate.do</url-pattern>
		  </servlet-mapping>
	  
		  <servlet>
		  		<servlet-name>COUPONFIND</servlet-name>
		  		<servlet-class>coupon.controller.CouponFindController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>COUPONFIND</servlet-name>
		  		<url-pattern>/Coupon/CouponFind.do</url-pattern>
		  </servlet-mapping>



<!-- 어드민 관련 서블릿 -->
		   <servlet>
		  		<servlet-name>DEPTLIST</servlet-name>
		  		<servlet-class>admin.controller.DeptListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>DEPTLIST</servlet-name>
		  		<url-pattern>/Admin/DeptList.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>INSERTDEPT</servlet-name>
		  		<servlet-class>admin.controller.DeptInsertController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>INSERTDEPT</servlet-name>
		  		<url-pattern>/Admin/InsertDept.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>DEPTDETAIL</servlet-name>
		  		<servlet-class>admin.controller.DeptDetailController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>DEPTDETAIL</servlet-name>
		  		<url-pattern>/Admin/DeptDetail.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>EDITDEPT</servlet-name>
		  		<servlet-class>admin.controller.DeptEditController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>EDITDEPT</servlet-name>
		  		<url-pattern>/Admin/EditDept.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>DELETEDEPT</servlet-name>
		  		<servlet-class>admin.controller.DeptDeleteController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>DELETEDEPT</servlet-name>
		  		<url-pattern>/Admin/DeleteDept.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>ADMINLIST</servlet-name>
		  		<servlet-class>admin.controller.AdminListController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>ADMINLIST</servlet-name>
		  		<url-pattern>/Admin/AdminList.do</url-pattern>
		  </servlet-mapping>
		   <servlet>
		  		<servlet-name>ADMININSERT</servlet-name>
		  		<servlet-class>admin.controller.AdminInsertController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>ADMININSERT</servlet-name>
		  		<url-pattern>/Admin/AdminInsert.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>ADMINEDIT</servlet-name>
		  		<servlet-class>admin.controller.AdminEditController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>ADMINEDIT</servlet-name>
		  		<url-pattern>/Admin/AdminEdit.do</url-pattern>
		  </servlet-mapping>
		  <servlet>
		  		<servlet-name>ADMINDELETE</servlet-name>
		  		<servlet-class>admin.controller.AdminDeleteController</servlet-class>
		  </servlet>
		  <servlet-mapping>
		  		<servlet-name>ADMINDELETE</servlet-name>
		  		<url-pattern>/Admin/AdminDelete.do</url-pattern>
		  </servlet-mapping>



<!-- 주차장 관련 서블릿 등록 -->
		
		<servlet>
		<servlet-name>ListController</servlet-name>
		<servlet-class>zone.controller.ListController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ListController</servlet-name>
		<url-pattern>/ZONE/List.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>AddController</servlet-name>
		<servlet-class>zone.controller.AddController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/ZONE/Add.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>ViewController</servlet-name>
		<servlet-class>zone.controller.ViewController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/ZONE/View.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>zone.controller.DeleteController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/ZONE/Delete.do</url-pattern>
		</servlet-mapping>
	
		<servlet>	
		<servlet-name>EditController</servlet-name>
		<servlet-class>zone.controller.EditController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>EditController</servlet-name>
		<url-pattern>/ZONE/Edit.do</url-pattern>
		</servlet-mapping>
		
		<servlet>	
		<servlet-name>FINDZONE</servlet-name>
		<servlet-class>zone.controller.FindZoneController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>FINDZONE</servlet-name>
		<url-pattern>/Zone/FindZone.do</url-pattern>
		</servlet-mapping>
		
		
		
		
		
		
<!-- 예약 관련 서블릿 등록 -->

		<servlet>
		  	<servlet-name>RESERVELIST</servlet-name>
		  	<servlet-class>reservation.controller.ReserveListController</servlet-class>
		</servlet>
		<servlet-mapping>
		  	<servlet-name>RESERVELIST</servlet-name>
		  	<url-pattern>/Reservation/ReserveList.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		  	<servlet-name>INSERTRESERVE</servlet-name>
		  	<servlet-class>reservation.controller.ReserveInsertController</servlet-class>
		</servlet>
		<servlet-mapping>
		  	<servlet-name>INSERTRESERVE</servlet-name>
		  	<url-pattern>/Reserve/InsertReserve.do</url-pattern>
		</servlet-mapping>
		
		
		
<!-- 차량 관련 서블릿 등록 -->
		
			
		<servlet>
		<servlet-name>CarController</servlet-name>
		<servlet-class>car.controller.CarController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarController</servlet-name>
		<url-pattern>/CAR/CarList.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarViewController</servlet-name>
		<servlet-class>car.controller.CarViewController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarViewController</servlet-name>
		<url-pattern>/CAR/CarView.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarEditController</servlet-name>
		<servlet-class>car.controller.CarEditController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarEditController</servlet-name>
		<url-pattern>/CAR/CarEdit.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarDeleteController</servlet-name>
		<servlet-class>car.controller.CarDeleteController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarDeleteController</servlet-name>
		<url-pattern>/CAR/CarDelete.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarAddController</servlet-name>
		<servlet-class>car.controller.CarAddController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarAddController</servlet-name>
		<url-pattern>/CAR/CarAdd.do</url-pattern>
		</servlet-mapping>
		

		<servlet>
		<servlet-name>CarTypeListController</servlet-name>
		<servlet-class>car.controller.CarTypeListController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarTypeListController</servlet-name>
		<url-pattern>/CAR/CarTypeList.do</url-pattern>
		</servlet-mapping>
				
		<servlet>
		<servlet-name>CarTypeAddController</servlet-name>
		<servlet-class>car.controller.CarTypeAddController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarTypeAddController</servlet-name>
		<url-pattern>/CAR/CarTypeAdd.do</url-pattern>
		</servlet-mapping>

		<servlet>
		<servlet-name>CarIssueController</servlet-name>
		<servlet-class>car.controller.CarIssueController</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>CarIssueController</servlet-name>
		<url-pattern>/CAR/CarIssue.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarIssueViewController</servlet-name>
		<servlet-class>car.controller.CarIssueViewController</servlet-class>
		</servlet>		
		<servlet-mapping>
		<servlet-name>CarIssueViewController</servlet-name>
		<url-pattern>/CAR/CarIssueView.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>FINDCAR</servlet-name>
		<servlet-class>car.controller.FindCarController</servlet-class>
		</servlet>		
		<servlet-mapping>
		<servlet-name>FINDCAR</servlet-name>
		<url-pattern>/Car/FindCar.do</url-pattern>
		</servlet-mapping>
		
<!-- 폐기 차량 관련 서블릿 -->
		<servlet>
		<servlet-name>CarWasteController</servlet-name>
		<servlet-class>car.controller.CarWasteController</servlet-class>
		</servlet>		
		<servlet-mapping>
		<servlet-name>CarWasteController</servlet-name>
		<url-pattern>/CAR/CarWaste.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarWasteListController</servlet-name>
		<servlet-class>car.controller.CarWasteListController</servlet-class>
		</servlet>		
		<servlet-mapping>
		<servlet-name>CarWasteListController</servlet-name>
		<url-pattern>/CAR/CarWasteList.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>CarWasteViewController</servlet-name>
		<servlet-class>car.controller.CarWasteViewController</servlet-class>
		</servlet>		
		<servlet-mapping>
		<servlet-name>CarWasteViewController</servlet-name>
		<url-pattern>/CAR/CarWasteView.do</url-pattern>
		</servlet-mapping>
		











  <welcome-file-list>
  	<welcome-file>/WEB-INF/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
</web-app>